# # VerificationStatus

## Enum


* `PENDING` (value: `'pending'`)

* `APPROVED` (value: `'approved'`)

* `BLOCKED` (value: `'blocked'`)

* `EXPIRED` (value: `'expired'`)

* `UNDELIVERED` (value: `'undelivered'`)


[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
