# # Verification

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**id** | **string** | ID of the verification. |
**status** | [**\YCloud\Client\Model\VerificationStatus**](VerificationStatus.md) |  | [optional]
**to** | **string** | Recipient of the verification. | [optional]
**channel** | [**\YCloud\Client\Model\VerificationChannel**](VerificationChannel.md) |  | [optional]
**send_time** | **\DateTime** | The time at which this verification was sent, formatted in [RFC 3339](https://datatracker.ietf.org/doc/html/rfc3339). e.g., &#x60;2022-06-01T12:00:00.000Z&#x60;. | [optional]
**total_price** | **double** | Total price of this verification. Currency: USD. | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
